.history-title {
  margin: 20px;
}
.history-card {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.cirlcle {
  width: 35px;
  height: 35px;
  padding: 6px;
  margin: 0 5px 0 0px;
  border-radius: 50%;
  border: 5px solid #dad2d2;
  color: #ffffff;
  vertical-align: middle;
}
