<div class="text-center history-title"><h3>History</h3></div>
<div class="row">
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card">
      <label class="cirlcle" style="background: {{ randomColor }}"></label
      >भारशिव वंश
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >भर जाति के उपनाम</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >भार -भूतेश एवं भार तीर्</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >भरत जाति</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >अंग्रेज इतिहासकार</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >महाराजा भारद्वाज</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >महाराज वीरसेन भारशिव</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >भारत का नामकरण</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >जाति एक नाम</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >नाग्भारशिव जाति</div>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <div class="history-card"><label class="cirlcle" style="background: {{ randomColor }}"></label
      >भर और संविधान</div>
  </div>
</div>


<ul>
  <li *ngFor="let movie of objArr">
    {{ movie }}
  </li>
</ul>
